.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.activeFilter {
  background: cornflowerblue;
  color: white;
}

.doneTask {
  opacity: 0.5;
  text-decoration: line-through;
}

.error {
  color: red;
}

.errorBorder {
  border: 2px solid red;
}